<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>

    <httpProtocol>
      <customHeaders>
        <add name="Connection" value="keep-alive"/>
      </customHeaders>
    </httpProtocol>

    <security>
      <requestFiltering>
        <verbs>
          <add verb="OPTIONS" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>

    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>

    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- 1. iisnode debug inspector -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^src/server\.js\/debug[\/]?"/>
        </rule>

        <!-- 2. OPTIONS preflight -->
        <rule name="OPTIONS preflight" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^OPTIONS$"/>
          </conditions>
          <action type="Rewrite" url="src/server.js"/>
        </rule>

        <!-- 3. Everything else → Node -->
        <rule name="Node.js" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="src/server.js"/>
        </rule>
      </rules>
    </rewrite>

    <iisnode
      devErrorsEnabled="true"
      debuggingEnabled="false"
      loggingEnabled="true"
      logDirectory="iisnode_logs"
      maxLogFileSizeInKB="10240"
      maxTotalLogFileSizeInKB="102400"
      maxLogFiles="20"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="200"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="60000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="src\*.js"
      recycleSignalEnabled="false"
    />

    <directoryBrowse enabled="false"/>
  </system.webServer>

  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\vengurlatech.com\tmp"/>
  </system.web>
</configuration>
